/***
Projet :cenforosc asbl
Affinitic, avril 2012
***/

html, body{
height:100%;
}

body{
background-image:url(images/bg_main.png);
background-repeat:repeat-x;
background-color:#d6d2d3;
}

#main-content{
width:990px;
min-height:720px;
margin:auto;
}


/*** HEADER ***/
#header{
height:560px;
background-image:url(images/banner_sup.png);
background-repeat:no-repeat;
background-position:center 150px;
}

#logo{
width:326px;
height:105px;
background-image:url(images/logo.png);
background-repeat:no-repeat;
float:left;
margin-top:30px;
}

#logo a{
display:block;
width:326px;
height:105px;
}

#tools{
float:right;
margin-top:20px;
margin-right:5px;
width:500px;
}

#site-action{
float:right;
margin-right:60px
margin-bottom:8px;
text-align:right;
}

#site-action a{
color:#aaa;
font-size:0.8em;
padding:0px 5px;
}

#site-action a:hover{
color:#ab2722;
}

#personal-tools{
float-right;
}

#portal-personaltools {
background: none repeat scroll 0 0 transparent;
border-bottom-left-radius: 0.5em;
border-bottom-right-radius: 0.5em;
float: right;
font-size: 80%;
padding: 0.25em 0.5em;
position: relative;
right: 0;
top: 0;
z-index: 3;
}

#portal-personaltools dd {
background: none repeat scroll 0 0 rgba(200, 200, 200, 0.7);
padding-bottom: 0.5em;
}



/*** MOTEUR RECHERCHE ***/
#search-plone{
float:right;
margin-top:45px;
text-align:center;
color:#000;
font-size:0.8em;
z-index:3;
background-color:#ddd;
border:3px solid #ddd;
border-radius:5px;
width:250px;
height:24px;
padding:0px 0px 0px 0px;
}

#search-plone .searchButton{
margin-left:0px;
background-color:#ab2722;
color:#fff;
padding:2px 5px;
border:1px solid #000;
border-radius:0px 4px 4px 0px;
}

#search-plone #searchGadget{
border-width:1px 0px 1px 1px;
border-style:solid;
border-color:#000;
border-radius:4px 0px 0px 4px;
height:17px;
}

.searchSection{
display:none;
}

#LSResult {
background-color:transparent;
position: relative;
margin:3px 0px 0px 0px;
z-index:10;
}

#LSResult fieldset {
border:none;
padding: 1em 0 0;
}

#LSResult a:link, a:visited {
color:#5a1e00;
}

#LSResult a:hover {
background-color:;
color:#ffffff;
border:1px solid #fff;
border-radius:8px;
}

#livesearchLegend {
background-color:transparent;
padding: 0.3em;
}

.livesearchContainer{
text-align:left;
}

.LSTable{
width:250px;
}

.LSRow, .LSHighlight, #LSNothingFound {
display: block;
padding: 0.5em 1em;
white-space: normal;
width: 220px;
}

.LSHighlight{
border:1px solid #fff;
border-radius:8px;
}


#username{
border-bottom:1px dotted #aaa;
width:970px;
float:right;
padding-right:10px;
text-align:right;
font-size:0.6em;
color:#bbb;
min-height:10px;
}




/*** FOOTER & COLOPHON ***/
/*** SITE-FOOTER ***/
#footer {
position:relative;
top:2px;
z-index:12;
border-radius:0px 0px 12px 12px;
margin-top:10px;
background-color:rgba(202,169,117,0.7);
background-image:url(images/bg_footer.png);
background-repeat:repeat-x;
height:119px;
text-align:left;
font-size:0.!em;
}

#footer-logo{
width:202px;
height:55px;
background-image:url(images/logo-footer.png);
background-repeat:no-repeat;
float:left;
margin-top:60px;
margin-left:20px;
}

#footer-coordonnee{
width:202px;
float:left;
margin-top:12px;
margin-left:30px;
}

#footer-coordonnee h5{
font-size:0.7em;
color:#eee;
}

#footer-coordonnee p{
font-size:0.7em;
color:#333;
text-shadow:1px 1px 1px rgba(200, 200, 200, 0.8);
margin-bottom:6px;
}

#footer-copyright{
float:right;
width:400px;
margin-top: 90px;
padding: 5px 0px 0px 0px;
text-align: center;
font-family: Tahoma, "Trebuchet MS", Arial, serif;
font-size: 14px;
color: #371b0c;
text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
}


/* COLOPHON */
#colophon{
margin-top:5px;
border-top:1px solid #896555;
}

#plone,
#affinitic{
color:#371b0c;
text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
font-size:0.6em;
width:300px;
padding-top:2px;
text-align:center;
}

#plone{
float:left;
}

#affinitic{
float:right;
}

#plone a,
#affinitic a{
color:#371b0c;
text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
transition:all 0.4s ease-in;
transition:all 0.4s ease-in;
-moz-transition:all 0.4s ease-in;
-o-transition:all 0.4s ease-in;
-webkit-transition:all 0.4s ease-in;
-ms-transition:all 0.4s ease-in;
}

#plone a:hover,
#affinitic a:hover{
color:#8e211c;
}

